<div class="row">
  <div class="text-center" style="padding: 0 15px 20px 15px">
    <h3 style="display: inline;" data-translate="chooseCorrectTranslations">Choose The Correct Translations</h3>
  </div>
  <div class="col-lg-12">
    <div ng-hide="opctrl.translatedWordsExist" style="width: 50%; margin: 0 auto;">
      <h3>No Translated Words</h3>
      <h4>Translate words to take a quiz from</h4>
    </div>
    <form>
      <table class="table table-list" border="0">
        <tbody>
          <tr ng-repeat="(word, translation) in opctrl.randomTranslatedWordsForQuiz">
            <td>
              {{word}}  :
            </td>
            <td>
              <select class="form-control ng-pristine ng-touched" ng-model="opctrl.quizAnswers[$index]" ng-change="opctrl.checkAnswer($index)">
                 <option ng-repeat="opt in opctrl.quizOptions track by $index">{{opt}}</option>
              </select>
            </td>
            <td>
              <div style="text-align:center;display:none;" id="correct-result-{{$index}}"><span class="glyphicon glyphicon-ok" style="font-size: 30px;color:green;"></span></div>
              <div style="text-align:center;display:none;" id="incorrect-result-{{$index}}"><span class="glyphicon glyphicon-remove" style="font-size: 30px;color:red;"></span></div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <button style="display:block;margin: 0 auto;" ng-show="opctrl.translatedWordsExist" class="btn btn-info btn-lg" ng-click="opctrl.generateNewQuiz()">Generate New Quiz</button>
  </div>
</div>
